body {
  /*background-color: lightblue;*/
  background-color:rgba(70,70,70)
}

h1 {
  color:rgba(0, 102, 153, 255);
  text-align: center;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}
button {
    display: inline-block;
    background-color:rgba(70,70,70);
    height: 32px;
    border: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 32px;
}
#githubButton {
  background-image:url(./img/github.png);
  background-size: 32px 32px;
  height: 32px;
  width: 32px;
  position:absolute;
  top: 95%;
  left: 95%;
}
